* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

#home-blog-post-1 {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(
      rgba(21, 30, 65, 0.7),
      rgba(21, 30, 36, 0.7)
    ),
    url("../images/stadium.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#home-blog-post-1 .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home-blog-post-1 .content {
  width: 100%;
  color: #fff;
}

#home-blog-post-1 .content h1 {
  font-size: 60px;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: #fccc04;
}

.intro {
  justify-content: center;
  letter-spacing: 0.3px;
  padding-top: 60px;
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;
  font-size: 16.5px;
  margin-bottom: 20px;
}

.img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.article-subtitle {
  text-align: left;
  position: relative;
  font-size: 24px;
  padding-bottom: 10px;
  color: #111;
  margin: 0 auto;
  width: 90%;
}

.article-content {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
  padding: 10px 0px 30px 0px;
  width: 90%;
  margin: 0 auto;
}

.blog-list {
  margin: 0 auto;
  font-size: 15px;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 10px;
  width: 95%;
}

.duties-list {
  margin: 0 auto;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 100%;
}

.image {
  width: 100%;
}

.caption {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0px 30px 0px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and(min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 750px) {
  .article-content {
    font-size: 16px;
    width: 100%;
  }
  .intro {
    font-size: 18px;
    width: 100%;
  }
  .article-subtitle {
    width: 100%;
  }
}
