*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
.logo{
  width: 44px;
  height: 32px;
  background-image: url(../images/.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  
}
*/


.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color: #48dbfb !important;
}

.sticky{
  background-color: #fff;
  padding: 18px 0;
}

/*
.sticky .logo{
  background-image: url(../images/black-logo.png);
}
*/

.sticky .navbar-menu a{
  color: #111;
}

.sticky .menu-toggler span{
  background-color: #111;
}

#home{
  height: 100vh;
  min-height: 500px;
  background: url(../images/homeHeader.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 100%;
  color: #fff;
}

#home .content h1{
  font-size: 60px;
}

#home span {
  color: #08f7ff;
  font-size: 26px;
}

.sm a{
  color: #fff;
  font-size: 28px;
  margin: 0 10px;
  transition: .2s linear;
  padding-top: 28px;
}

.sm a:hover{
  color: #48dbfb;
}

#home .buttons{
  margin-top: 20px;
}

#home .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: #256574;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid #48dbfb;
  padding: 14px 0;
  border-radius: 8px;
  transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(1)
{
  background-color: #48dbfb;
  color: #fff;
}

section{
  padding: 100px 0;
  background-color: #f1f1f1;
}

.section-title{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: #111;
}

.section-title::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #111;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #48dbfb;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}

.about-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-pic{
  width: 250px;
  border-radius: 50%;
  margin-right: 100px;
}

.about-intro {
  margin-top: 25px;
  font-size: 18px;
}
.about-text{
  flex: 1;
}

.about-text h2 {
  font-size: 36px;
}

.about-text h3{
  margin: 10px 0;
  color: #444;
  font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

.about-text p{
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

.skills{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill{
  width: calc(50% - 20px);
  margin: 15px 0;
}

.skill-info{
  display: flex;
  justify-content: space-between;
}

.skill-bar{
  height: 3px;
  background-color: #ddd;
  margin-top: 14px;
  position: relative;
}

.skill-bar::after{
  content: "";
  position: absolute;
  height: 6px;
  background-color: #48dbfb;
  bottom: 0;
}

.html:after{
  width: 90%;
}

.css:after{
  width: 80%;
}

.js:after{
  width: 75%;
}

.java:after{
  width: 80%;
}

.c:after{
  width: 90%;
}

.python:after{
  width: 80%;
}

.react:after {
  width:70%;
}

section.dark{
  background-color: #353b48;
}

section.dark .section-title{
  color: #f1f1f1;
}

section.dark .section-title::before{
  background-color: #f1f1f1;
}

section.dark .section-title::after{
  border: 4px solid #353b48;
}


/* Footer Section */
.footer {
  padding: 40px 0;
  background-color: rgb(36, 36, 36);

}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #ffffff;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align:center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity:0.9;
  color: #48dbfb;
}


.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;

}


.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
  color: #fff;

}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(255, 255, 255);
}


/* Contact Section */

.contact {
  padding-top: 20px;
  background-color: #ffffff;
  padding-bottom: 20px;
}

.contact p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}
.contact h2 {
  text-align: center;
  padding-bottom: 20px;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.940rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px black;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: black;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset black;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-btn:hover {
  background-color: grey;
  border: 2px solid black;
  cursor: pointer;
}

@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
    max-width: 800px;
  }

  .about-pic{
    margin: 0 auto 60px;
  }

  .about-text{
    flex: 100%;
    text-align: center;
  }
  .block{
    width: calc(100% - 20px);
    margin-left: auto;
  }
}

@media screen and (max-width: 600px){
  .inner-width{
    padding: 0 20px;
  }

  .skill{
    width: 100%;
  }
}

